 <div class="center jumbotron">
  <h1>YOGA WORLD</h1>

  <h2>YOGAWORLDはヨガを教える人、教えたい人をつなぐサービスです。 </h2>
  <h3>こちらはインストラクター向けのページです。</h3>

  <%= link_to "Sign up now!",instructor_signup_path, class: "btn btn-lg btn-primary" %>
</div>